* { box-sizing: border-box; }

 body {
     font-family: sans-serif;
     text-align: center;
     background: #111;
     color: #eee;
 }

 .scene {
     border: 1px solid #333;
     margin: 80px auto;
     position: relative;
     width: 450px;
     height: 450px;
     perspective: 1600px;
 }

 .carousel {
     width: 100%;
     height: 100%;
     position: absolute;
     transform-style: preserve-3d;
     transition: transform 1s;
 }

 .carousel__cell {
     position: absolute;
     width: 400px;
     height: 400px;
     left: 25px;
     top: 25px;
     border: 3px solid #000;
     font-size: 120px;
     font-weight: bold;
     color: white;
     text-align: center;
     line-height: 400px;
     border-radius: 16px;
     transition: transform 1s, opacity 1s;
 }

 .carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
 .carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

 .carousel-options {
     text-align: center;
     position: relative;
     z-index: 2;
     background: hsla(0, 0%, 10%, 0.8);
     padding: 20px;
     border-radius: 10px;
     width: fit-content;
     margin: 20px auto;
 }
 button, input[type="range"] {
     font-size: 18px;
     margin: 5px;
     padding: 5px 10px;
 }
