.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  /* backdrop-filter: blur(1px); */
}

.dialog {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  background:var(--color-bg);
  color:var(--color-text-1);
  padding:20px;
  border-radius:8px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.dialog h3 {
  text-align: center;
}

.dialog .title {
  color: #ecf0f1;
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.dialog .dialog-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.edit-metadata-dialog {
  width:600px;
  height:80vh;
}

.edit-metadata-dialog {
  width:600px;
  height:80vh;
}

.batch-dialog {
  /* width:600px; */
  /* height:90vh; */
}

.quit-dialog {
  /* width:600px; */
  /* height:90vh; */
}

.system-dialog-buttons {
  display: flex;
  flex-direction: column;
}

.system-dialog-buttons button {
  width: 30vw;
  margin: 0.2em;
}

#batch-confirmation-dialog .batch-options {
  display: flex;
  flex-direction: column;
}

.batch-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.help-dialog .tabs {
  display: flex;
  margin-bottom: 1em;
}

.help-dialog .tab-button {
  flex: 1;
  padding: 0.5em;
  background: var(--color-bg);
  color: var(--color-text-1);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.help-dialog .tab-button.active {
  background: var(--color-button-off);
  color: black;
}

.help-dialog .tab-content {
  display: none;
}

.help-dialog .tab-content.active {
  display: block;
}

.help-dialog {
  width: 68vw;
  max-width: 70vw;
}

.help-dialog table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.help-dialog #cli-args table td {
  width: 50%;
}

.help-dialog h3 {
  margin-bottom: 0;
}

.help-dialog th .th-content {
    display: flex;
    flex-direction: column; /* only stacks content inside th */
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.help-dialog tbody tr:nth-child(even) {
  background:var(--color-bg-header);
}

.help-dialog tbody tr:nth-child(odd) {
  background:var(--color-bg);
}

.help-dialog tbody tr {
  height: 50px;
}

.help-dialog td {
  padding: 0 0.6em;
  height: 1em;
  vertical-align: middle;
  text-align: left;
}

.help-dialog td svg {
    display: inline-block; /* not flex */
    vertical-align: middle;
}

.help-dialog td.game-controller-icon {
  text-align: center;
}

.help-dialog img {
  width: 150px;
  height: 150px;
}

.help-dialog kbd {
  background: #444;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 2px;
  font-family: monospace;
  font-size: 1.4em;
  color: #fff;
  border: 1px solid #666;
}
.help-dialog thead {
    display: table-header-group; /* ensures proper table header behavior */
}

.help-dialog thead tr {
    display: table-row; /* forces each row to act like a proper row */
}

.help-dialog p.first {
  margin-top: 1em;
}
