#galleries {
  /* position: relative; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform-style: preserve-3d; /\* Enable 3D transformations *\/ */
  padding-top: 100px;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--color-bg1); */
  background-repeat: repeat;
  opacity: 1;

  transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;

  left: 0;
  top: 0;

  z-index: 1;
  margin-top: 100px;
}

.page.disabled {
  opacity: 0;
}

.page.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.page.prev {
  transform: translateX(-50vw);
  opacity: 0;
}

.page.next {
  transform: translateX(50vw);
  opacity: 0;
}

.page.adjacent {
  opacity: 0;
  /* transform: translateX(0); */
}

.page-content {
  display: grid;
  gap: 10px;
  padding: 10px;
  padding-bottom: 20vh;
}

.prefs-platform-img {
  max-width: 150px;
}

@keyframes expandEffect {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(5);
    }
}

@keyframes fadeInShadow {
    0% { box-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }
    100% { box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6); }
}

div.game-container.launching {
  /* filter: blur(5px); */
  box-shadow: 0px 0px 75px red;
  /* background-color: red; */
  /* animation: expandEffect 0.5s linear, fadeInShadow 0.4s ease-out; */
  z-index: 500;
}

div.game-container,
div.menu-game-container {
  /* height: 22vw; */
  border: 1px solid;

  border-color:  var(--color-border-off);
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;

  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  /* white-space: nowrap; */
  position: relative; /* Needed for absolute positioning of the label */
}

div.menu-game-container {
  height: 22vw;
}

div.game-container:hover,
div.menu-game-container:hover {
  border-color: var(--color-border-on);
}

div.platform-info .vendor {
  font-size: clamp(14px, 1.4vw, 24px); /* Minimum, preferred, maximum */
  color: var(--color-platform-text-header);

  text-shadow:
    -1px -1px 0 var(--color-platform-outline-header),
     1px -1px 0 var(--color-platform-outline-header),
    -1px  1px 0 var(--color-platform-outline-header),
     1px  1px 0 var(--color-platform-outline-header)
}

div.platform-info .name {
  font-size: clamp(10px, 1vw, 20px); /* Minimum, preferred, maximum */
  color: whitesmoke;
}

p {
  margin-top: 0;
}

.dummy-game-container {
  animation: pulse-glow 2s infinite ease-in-out;
}

div.empty-platform-game-container,
div.dummy-game-container {
  justify-content: center;
  font-size: 14pt;
  font-weight: normal;
}

.loading {
  animation: pulse-glow 0.5s infinite ease-in-out;
}

div.empty-platform-game-container i,
div.dummy-game-container i {
  color: var(--color-border-on);
}

@keyframes pulse-glow {
  0% {
    border-color: var(--color-border-off);
  }
  50% {
    border-color: var(--color-border-on);
  }
  100% {
    border-color: var(--color-border-off);
  }
}

div.platform-container {
  justify-content: center;
  padding: 0.5em;
}

.game-image {
    /* width: 100%; /\* Ensure images fill the container *\/ */
    /* height: auto; /\* Maintain aspect ratio *\/ */
    height: 100%;
    /* object-fit: cover; /\* Ensure images fill the space without distortion *\/ */
    /* object-fit: contain; /\* Show full image without cropping *\/ */
    display: block; /* Remove extra space under inline elements */
    /* aspect-ratio: 4 / 3; /\* Prevent layout shifts *\/ */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    /* transform-origin: center; */
    flex-basis: content;
}

.missing-image {
    object-fit: cover; /* Ensure images fill the space without distortion */
}

.game-label {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-text-game-label);
  margin-top: 5px;
  font-size: 12px;

  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  text-shadow:
    -1px -1px 0 var(--color-outline-game-label),
     1px -1px 0 var(--color-outline-game-label),
    -1px  1px 0 var(--color-outline-game-label),
     1px  1px 0 var(--color-outline-game-label);

  /* color: #333; */
}

.menu-game-container .game-label {
  background-color: unset;
}

.menu-game-container .game-label button {
  max-width: unset;
  border-radius: 0;
}

.selected {
  outline: 4px solid var(--color-outline-selected);
  border-color: var(--color-outline-selected) !important;
  /* box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6); */
}

.selected .game-label {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.page-content div img {
  width: 100%;
  /* max-width: 150px; */
}

/* Explosion particle */
.explosion-particle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(var(--x-start), var(--y-start)) scale(1);
  will-change: transform, opacity;
  animation-name: explode;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes explode {
  0% {
    transform: translate(var(--x-start), var(--y-start)) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(var(--scale));
    opacity: 0;
  }
}
