header {
  top: 0;
  display: none;
  justify-content: space-between;
  height: 101px;
  z-index: 12;

  background-color: var(--color-bg-header);
  border-bottom: 1px solid var(--color-border-header);
  color: var(--color-text-footer);

}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  height: 100px;
  text-align: center;
  font-weight: bold;
}

header .platform-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .platform-name {
  color: var(--color-platform-text-header);
  font-size: 32pt;
  opacity: 1;
  z-index: 2;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  text-shadow:
    -1px -1px 0 var(--color-platform-outline-header),
     1px -1px 0 var(--color-platform-outline-header),
    -1px  1px 0 var(--color-platform-outline-header),
    1px  1px 0 var(--color-platform-outline-header);
}

header .platform-stats {
  display: flex;
  flex-direction: row;
  font-size: 12pt;
  z-index: 2;
}

header .spacer {
  width: 0.5em;
}

header .platform-image img {
  width: 50px;
}

.pages-nav-links {
  transition: opacity 0.2s ease;
}

.pages-nav-links:hover {
  color: var(--color-outline-selected);
}

.left-links {
  display: flex;
}
