#splash {
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 15;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: var(--color-bg1); */
    background-image: url('../../img/platforms/settings.png');
    background-size: cover;
    transition: opacity 2s ease;
}

#splash img {
    width: 400px;
    height: 400px;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; /* Enable 3D transformations */
}

p.vendor {
  color: var(--color-text-1);
}

p.name {
  color: var(--color-text-2);
}

#top-menu:focus,
#slideshow:focus,
.gallery:focus {
  outline: none;
}

@keyframes slide-pulse-glow {
  0% {
    filter: drop-shadow(0 0 2px rgba(var(--glow-color-rgb), 0.6));
  }
  50% {
    filter: drop-shadow(0 0 14px rgba(var(--glow-color-rgb), 0.7));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(var(--glow-color-rgb), 0.6));
  }
}

.slide {
  position: absolute;
  width: 700px;
  height: 700px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1), opacity 1.5s ease;
  animation: slide-pulse-glow 5s infinite ease-in-out;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.slide.incoming {
  opacity: 0;
  transform: translateX(50vw);
  z-index: 1;
}

.slide.outgoing {
  opacity: 0;
  transform: translateX(-50vw);
  z-index: 0;
}

.slide.hidden {
  opacity: 0;
  transform: translateX(100vw);
  z-index: 0;
}

.slide-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
  align-items: center; /* Center horizontally */
}

.slide-content > p.vendor {
  margin: 0;
}

.slide-content > p.name {
  font-size: 16pt;
}

@keyframes pulse-glow {
  0% {
    filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 14px rgba(255, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(5px);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* text-align: left; */

  background: linear-gradient(135deg, #2c3e50, #34495e);
  border: 2px solid #3498db;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 90%;
}

.dialog .title {
  color: #ecf0f1;
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.dialog .dialog-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
