#splash {
  position: fixed;
  top: calc(50vh - 350px);
  left: calc(50vw - 350px);
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/platforms/settings.png');
  background-size: cover;
  opacity: 0 !important;
  transition: opacity 0.1s ease-in;
}

#splash.show {
  opacity: 1 !important;
}

#splash img {
    width: 400px;
    height: 400px;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

#top-menu:focus,
#slideshow:focus,
.gallery:focus {
  outline: none;
}

.slide {
  position: absolute;
  width: 700px;
  height: 700px;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  /* opacity: 0.8; */
  transition: transform 0.4s ease, filter 2s ease;
}

.slide .slide-content {
  /* display: none; */
  transition: opacity 2s ease;
  opacity: 0;
}

.slide.active .slide-content {
  /* display: flex; */
  opacity: 1;
}

@keyframes slide-pulse-glow {
  0% {
    filter: drop-shadow(0 0 2px rgba(var(--glow-color-rgb), 0.6));
  }
  50% {
    filter: drop-shadow(0 0 24px rgba(var(--glow-color-rgb), 0.7));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(var(--glow-color-rgb), 0.6));
  }
}

.slide.active {
  transform: translateX(0) scale(1);
  animation: slide-pulse-glow 5s infinite ease-in-out;
  opacity: 1;
  filter: brightness(100%);
}

.slide.prev,
.slide.next {
  filter: brightness(80%);
}

.slide.prev {
  transform: translateX(-50vw) scale(0.8) rotateY(10deg);
}

.slide.next {
  transform: translateX(50vw) scale(0.8) rotateY(-10deg);
}

.slide.adjacent {
  /* transform: translateX(-900px) scale(0.7) rotateY(20deg); */
  transform: rotateY(calc(var(--angle) * 1deg)) translateZ(calc(var(--radius) * 1px));
  filter: brightness(80%);
}

.slide-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
  align-items: center; /* Center horizontally */
}

.slide-content > p.vendor {
  margin: 0;
  color: var(--color-text-1);
}

.slide-content > p.name {
  font-size: 16pt;
  color: var(--color-selected);
}

.footer-small { max-height: 40.5vh !important; }
.footer-medium { max-height: 38vh !important; }
.footer-big { max-height: 35vh !important; }

/* Optional: Add media queries for fullscreen adjustments */
:fullscreen .footer-small { max-height: calc(100vh - 200px) !important; }
:fullscreen .footer-medium { max-height: calc(100vh - 250px) !important; }
:fullscreen .footer-big { max-height: calc(100vh - 300px) !important; }
