.theme-day {

  --bg: linear-gradient(
    180deg,
    #B0D7DA 0%,
    #B0E2FF 30%,
    #98D8E8 60%,
    #87CEEB 100%
  );

  --color-text-1: rgb(41, 48, 53);
  --color-text-2: rgb(48, 57, 133);

  --color-text-1-rgb: 41, 48, 53;
  --color-text-2-rgb: 48, 57, 133;

  --color-text-subtitles: rgb(255, 255, 255);

  --color-text-input: rgb(0, 0, 0);

  --color-glow-rgb: 255, 100, 200;

  --color-platform-text-header: rgb(10, 63, 74);
  --color-platform-outline-header: rgb(163, 255, 255);

  --color-bg: rgb(150, 190, 235);
  --color-bg-input: rgb(214, 222, 241);
  --color-bg-rgb: 189, 217, 255;

  --color-bg-dialog: rgb(137, 179, 233); /* slightly darker & muted than --color-bg */
  --color-bg-header: rgb(153, 193, 239);

  --color-border-header: rgb(57, 116, 184);
  --color-text-header: rgb(255, 255, 255);

  --color-text-game-label: rgb(41, 241, 234);

  --color-selected: rgb(35, 197, 83);

  --color-selected-rgb: 35, 197, 83;

  --color-bg-selected: rgb(191, 199, 227);

  --color-hr: rgb(120, 160, 210);

  --color-text-badge: rgba(0, 20, 10, 0.9);
  --color-bg-badge: rgba(100, 200, 150, 0.5);

  --color-button-on: rgb(255, 107, 0);
  --color-button-off: rgb(67, 97, 187);
  --color-border-on: rgb(255, 107, 0);
  --color-border-off: rgb(149, 175, 204);

  --filter-glow-header: none

}

.theme-default {

  --bg: linear-gradient(
    180deg,
    #1A1A1A 0%,       /* Dark gray */
    #151515 25%,      /* Very dark gray */
    #101010 60%,      /* Near black */
    #080808 100%      /* Pure black */
  );

  --color-text-1: rgb(245, 245, 245);
  --color-text-2: rgb(61, 173, 255);

  --color-text-input: rgb(0, 0, 0);

  --color-text-1-rgb: 245, 245, 245;
  --color-text-2-rgb: 61, 173, 255;

  --color-glow-rgb: 10, 143, 216;

  --color-platform-text-header: rgb(26, 30, 42);
  --color-platform-outline-header: rgb(41, 241, 234);

  --color-bg: rgb(15, 23, 41);
  --color-bg-input: rgb(114, 122, 141);
  --color-bg-rgb: 15, 23, 41;

  --color-bg-header: rgb(5, 12, 22);
  --color-bg-dialog: rgb(32, 28, 36); /* subtle warm charcoal */
  --color-bg-selected: rgb(0, 49, 83);

  --color-selected: rgb(0, 255, 204);

  --color-selected-rgb: 0, 255, 204;

  --color-hr: rgb(50, 60, 80);

  --color-text-badge: 0, 0, 0;
  --color-bg-badge: 41, 241, 234;

  --color-button-on: rgb(41, 241, 234);
  --color-button-off: rgb(51, 51, 68);
  --color-border-on: rgb(0, 255, 204);
  --color-border-off: rgb(37, 37, 53);

  --filter-glow-header:
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.08))
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.1))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));

}

.theme-night {

  --bg: linear-gradient(
    180deg,
    #060B21 0%,       /* Intense dark navy */
    #0A1128 30%,      /* Deep midnight blue */
    #0F172A 60%,      /* Rich dark blue */
    #141C36 100%      /* Dark blue */
  );

  --color-text-1: rgb(232, 245, 232);
  --color-text-2: rgb(255, 188, 0);

  --color-text-1-rgb: 232, 245, 232;
  --color-text-2-rgb: 255, 188, 0;

  --color-text-input: rgb(232, 245, 232);

  --color-glow-rgb: 255, 0, 247;

  --color-platform-text-header: rgb(41, 241, 234);
  --color-platform-outline-header: rgb(10, 10, 15);

  --color-bg: rgb(25, 25, 50);
  --color-bg-input: rgb(60, 60, 90);
  --color-bg-rgb: 25, 25, 50;

  --color-bg-header: rgb(23, 36, 55);
  --color-bg-dialog: rgb(23, 24, 30);
  --color-bg-selected: rgb(15, 43, 77);

  --color-selected: rgb(41, 241, 234);

  --color-selected-rgb: 41, 241, 234;

  --color-hr: rgb(40, 70, 80);

  --color-text-badge: 255, 230, 0;
  --color-bg-badge: 0, 30, 80;

  --color-button-on: rgb(41, 241, 234);
  --color-button-off: rgb(255, 107, 0);
  --color-border-on: rgb(41, 241, 234);
  --color-border-off: rgb(15, 43, 77);

  --filter-glow-header:
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.08))
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.1))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));

}
